# Dependency directories
/node_modules
/client/node_modules
/server/node_modules

# Build directory
/client/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
